@using BoroHFR.ViewModels.Admin
@model EditGroupViewModel

<form method="post" class="container">
    <div class="form-group py-1">
        @Html.LabelFor(x => x.GroupName, "Név", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.GroupName, null, new { @class = "form-control bg-dark text-light" })
        <p class="text-danger">@Html.ValidationMessageFor(x => x.GroupName)</p>
    </div>
    <div class="form-group py-1">
        @Html.LabelFor(x => x.Teacher, "Oktató", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Teacher, null, new { @class = "form-control bg-dark text-light" })
        <p class="text-danger">@Html.ValidationMessageFor(x => x.Teacher)</p>
    </div>
    <button class="btn btn-primary" type="submit">Mentés</button>
    <a class="btn btn-outline-danger" href="@Url.Action("Index")">Mégse</a>
    <a class="btn btn-outline-danger" href="@Url.Action("DeleteGroup", new { gid=Model.GrId })">Törlés</a>
</form>