@model BoroHFR.ViewModels.SysAdmin.ResetPasswordViewModel

@{
    ViewData["Title"] = "Jelszó visszaállítás";
}

@if(!Model.Confirmed) {
    <h1>Biztosan visszaállítod @Model.User.Username (@Model.User.Class.Name) jelszavát?</h1>
    <h2>Egy véletlenszerűen generált jelszavat fog kapni, melyet meg tud változtatni. (A korábbi jelszava nem fog működni!)</h2>

    <div class="d-flex flex-row justify-content-center">
        <a class="mx-3 btn btn-primary" href="@Url.Action("ConfirmResetPassword", new {cid = Model.User.Class.Id, uid = Model.User.Id})">Jelszó visszaállítása</a>
        <a class="mx-3 btn btn-secondary" href="@Url.Action("ClassInfo",new {id=Model.User.Class.Id})">Mégsem</a>
    </div>
}
else {
    <h1>@Model.User.Username jelszava megváltozott</h1>
    <p>Az új jelszó: <input type="text" readonly value="@Model.Password" /></p>
    <a class="mx-auto btn btn-primary" href="@Url.Action("ClassInfo","SysAdmin", new {id=Model.User.Class.Id})">Kész</a>
}
