@model BoroHFR.ViewModels.Settings.ChangePasswordViewModel
@{
    Layout = "_SettingsLayout";
}
@using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { @class = "coolform" }))
{
    <div class="form-group">
    <label>Jelenlegi jelszó:</label>
    @Html.PasswordFor(m=>m.OldPassword, new {@class="form-control bg-dark text-light"})
    @Html.ValidationMessageFor(m=>m.OldPassword,"",new {@class = "text-danger"})
</div>
    <div class="form-group">
    <label>Új jelszó:</label>
    @Html.PasswordFor(m=>m.NewPassword, new {@class="form-control bg-dark text-light"})
    @Html.ValidationMessageFor(m=>m.NewPassword,"",new {@class = "text-danger"})
</div>
    <div class="form-group">
    <label>Új jelszó ismét:</label>
    @Html.PasswordFor(m=>m.NewPasswordAgain, new {@class="form-control bg-dark text-light"})
    @Html.ValidationMessageFor(m=>m.NewPasswordAgain,"",new {@class = "text-danger"})
</div>
    @if (Model?.Success == true)
    {
        <div class="alert alert-success" role="alert">A jelszó megváltozott!</div>
    }
    else if (Model?.ErrorMessage?.Length > 0)
    {
        <div class="alert alert-warning" role="alert">@Model.ErrorMessage</div>
    }
    <button class="btn btn-primary" type="submit">Mentés</button>


}

